<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
<p>
<% if @article.gif_url.present? %>
  <img src="<%= @article.gif_url %>">
<% end %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> | <%= link_to 'Back', articles_path %>
